{% extends "layout/normal.html" %}

{% block main_content %}        
<div class="col-12 col-sm p-3">
  <div class="card category">
	<div class="card-body">
		<div class="float-right" >
		  <a role="button" class="btn btn-outline-primary" href="{{ url_for('updateCategory', category_id = id) }}" data-toggle="tooltip" data-placement="bottom" title="Update this category">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		  </a>
		  <a role="button" class="btn btn-outline-danger" href="{{ url_for('deleteCategory', category_id = id) }}" data-toggle="tooltip" data-placement="bottom" title="Delete this category">
			<i class="fa fa-trash" aria-hidden="true"></i>
		  </a>
		</div>
	  <h4 class="card-title">{{ activeCategory.name }}</h4>
	  <p class="card-text">{{ activeCategory.description }}</p>
	  <div class="card-columns">
	  	{% include "part/item_card.html" %}
	  	{% include "part/item_card_new.html" %}
	  </div>
	</div>
  </div>
</div>
{% endblock %}